src
tests
.env
.gitignore
.turbo

# Include specific file types in dist, but ignore others
dist/**
# dist/*.js.map
# dist/*.d.ts.map
# !dist/*.js
# !dist/*.d.ts

# Explicitly ignore entire directories in dist
dist/tests
dist/examples